<div class="container">
  <% if @giveaway.in_progress? or preview_mode_on? %>
    <div class="eight columns offset-by-two">
      <div class="entry-panel">
        <h1 class="entry-title"><%= @giveaway.title %></h1>

        <div class="entry-meta">
          <div class="entry-meta-item">
            <span class="label">Opens</span>
            <%= l @giveaway.starts_at, format: :short %></span>
          </div>

          <div class="entry-meta-item">
            <span class="label">Closes</span>
            <%= l @giveaway.ends_at, format: :short %></span>
          </div>

          <div class="entry-meta-item">
            <span class="label">Prizes</span>
            <%= pluralize(@giveaway.number_of_prizes, t('giveaways.giveaways.prize')) %>
          </div>
        </div>

        
        <div class="entry-description">
          <%= sanitize @giveaway.description %>
        </div>


        <%= simple_form_for [giveaways, @giveaway, @entrant], url: giveaway_entries_url(@giveaway) do |f| %>

          <%= hidden_field_tag :referral, params[:referral] %>
          
          <%= f.input :first_name, required: false, input_html: {class: 'u-full-width'} %>

          <%= f.input :email, required: false, input_html: {class: 'u-full-width'} %>

          <%= f.input :agree_to_rules, as: :boolean , required: false, hint: link_to('contest rules', giveaway_rules_path(@giveaway)) %>

          <%= f.button :submit, t('giveaways.entrants.forms.create'), class: 'button-primary u-full-width' %>

        <% end %>
      </div>
    </div>
  <% else %>
    <div class="six columns offset-by-three ">
      <div class="entry-panel">
        <h1 class="entry-title"><%= @giveaway.title %></h1>

        <div class="entry-description">
          <%= t('giveaways.giveaways.ended_notice') %>
        </div>
      </div>
    </div>
  <% end %>
</div>