<h1>Entrants for: <%= @giveaway.title %></h1>

<%= link_to t('giveaways.entrants.draw'), draw_giveaway_entrants_path(@giveaway), method: :post %>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Ballots</th>
		</tr>
	</thead>
	<tbody>
		<% @entrants.each do |entrant| %>
			<tr>
				<td><%= entrant.first_name %></td>
				<td><%= entrant.email %></td>
				<td><%= entrant.ballots %></td>
			</tr>	
		<% end %>
	</tbody>
</table>

<%= paginate @entrants %>