<div class="container">
  <div class="aa-page-column">
    <div class="aa-page">
      <h1 class="page-heading"><%= @giveaway.title %></h1>

      <%= render partial: 'shared/giveaway_tabs', locals: {giveaway: @giveaway, current_tab: 'entrants'} %>

      <table class="entrants-list">
      	<thead>
      		<tr>
      			<th>Name</th>
      			<th>Email</th>
      			<th>Ballots</th>
      		</tr>
      	</thead>
      	<tbody>
      		<% @entrants.each do |entrant| %>
      			<tr>
      				<td><%= entrant.first_name %></td>
      				<td><%= entrant.email %></td>
      				<td><%= entrant.ballots.count %></td>
      			</tr>	
      		<% end %>
      	</tbody>
      </table>

      <%= paginate @entrants %>
    </div> 
  </div> 
</div> 