<div class="container">

  <h1 class="page-heading"><%= @giveaway.title %><small> - <%= link_to t('giveaways.giveaways.back_to_index_link'), giveaways.giveaways_path %></small></h1>


  <div class="row">
    <div class="label-column">
      <label>Entrants</label>
    </div>

    <div class="value-column">
      <%= pluralize @giveaway.entrants.count, 'Entrant' %>
      <%= link_to t('giveaways.giveaways.entrants_link'), giveaways.giveaway_entrants_path(@giveaway) %>
    </div>
  </div>

  <div class="row">
    <div class="label-column">
      <label>Description</label>
    </div>

    <div class="value-column">
      <%= simple_format @giveaway.description.html_safe %>
    </div>
  </div>


  <div class="row">
    <div class="label-column">
      <label>Starts ~ Ends</label>
    </div>

    <div class="value-column">
      <%= l @giveaway.starts_at, format: :giveaways_long %> ~ <%= l @giveaway.ends_at, format: :giveaways_long %>
    </div>
  </div>


  <div class="row">
    <div class="label-column">
      <label>Thank you message</label>
    </div>

    <div class="value-column">
      <%= simple_format @giveaway.thank_you_message.html_safe %>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="heading-column">
      <h4>Email confirmation</h4>
    </div>
  </div>

  

  <div class="row">
    <div class="label-column">
      <label>Subject</label>
    </div>

    <div class="value-column">
      <%= @giveaway.email_subject %>
    </div>
  </div>

  <div class="row">
    <div class="label-column">
      <label>From</label>
    </div>

    <div class="value-column">
      <%= @giveaway.email_from %>
    </div>
  </div>

  <div class="row">
    <div class="label-column">
      <label>Reply to</label>
    </div>

    <div class="value-column">
      <%= @giveaway.email_reply_to %>
    </div>
  </div>

  <div class="row">
    <div class="label-column">
      <label>Body</label>
    </div>

    <div class="value-column">
      <%= simple_format @giveaway.email_message %>
    </div>
  </div>

  <div class="row">
    
    <div class="heading-column">
      <div class="actions">
        <div class="actions-left">
          <%= link_to t('giveaways.giveaways.edit_link'), giveaways.edit_giveaway_path(@giveaway), class: 'button' %>
        </div>

        <div class="actions-right">
          <%= link_to t('giveaways.giveaways.draw_link'), giveaways.draw_giveaway_entrants_path(@giveaway), class: 'button button-primary' if @giveaway.closed? %>
        </div>
      </div>      
    </div>
  </div>
</div>