<!DOCTYPE html>
<html class="aa-giveaways">
<head>
  <title>Giveaways</title>
  <%= stylesheet_link_tag    "giveaways/application", media: "all" %>
  <%= javascript_include_tag "giveaways/application" %>
  <%= csrf_meta_tags %>
</head>
<body class="aa-giveaways aa-giveaways-<%= controller_name %>-<%= action_name %>">

	<%= yield %>

</body>
</html>
