<!DOCTYPE html>
<html class="aa-giveaways">
<head>
  <title>Giveaways</title>
  <%= stylesheet_link_tag    "giveaways/application", media: "all" %>
  <%= javascript_include_tag "giveaways/application" %>
  <%= csrf_meta_tags %>
</head>
<body class="aa-giveaways aa-giveaways-<%= controller_name %>-<%= action_name %>">

  <% if preview_mode_on? %>
    <div class="preview-actions">
      <%= link_to t('giveaways.giveaways.exit_preview_link'), giveaways_path(preview_mode: false) %>
    </div>
  <% end %>

	<%= yield %>

</body>
</html>
