<!DOCTYPE html>
<html class="ga-giveaways">
<head>
  <title>Giveaways</title>
  <%= stylesheet_link_tag    "giveaways", media: "all" %>
  <%= javascript_include_tag "giveaways" %>
  <%= csrf_meta_tags %>
</head>
<body class="ga-giveaways ga-giveaways-<%= controller_name %> ga-giveaways-<%= controller_name %>-<%= action_name %>">

  <%= render partial: 'giveaways/shared/exit_preview' %>

	<%= yield %>

  <footer></footer>
  
</body>
</html>
